body, html { 
  width: 100%; overflow-x: hidden;
 } 
 
 #root {
  min-height:100%; position:relative;
 } 
 
 .ui.grid { margin: 0;
 } 
 
 .text.white { 
   color: #FFFFFF; 
}

 .text.grey {
   color: #CCCCCC;
}
   
 .text.black {
   color: #1B1C1D; 
} 

 .text.yellow { 
   color: #F2C61F;
 }